<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Schedule Easiness Predictor</a>
      <ul class="nav">
	<!--
	<li class="active"><a href="#">Home</a></li>
	-->
      </ul>
    </div>
  </div>
</div>
<div class="container" id="content">
  <div class="row">
    <div class="span12">

      <div ng-show-blip="selectedSchool" id="record-selection">
	<h3>Enter your transcript records</h3>
	<table ng-show-blip="newRecord" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>
                <input type="text"
                       autofocus="autofocus"
                       class="input-medium"
	               placeholder="State"
	               ng-model="selectedState"
	               typeahead="state.name for state in states | filter:$viewValue"
	               ng-hide="selectedState"
	               ng-enabled="states">
                <div ng-show="selectedState">
	          {{selectedState}}
	          <button ng-click="unselectState()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
	        <input type="text"
                       class="input-medium"
	               placeholder="School"
	               ng-model="selectedSchool"
	               typeahead="school.name for school in schools | filter:$viewValue"
	               ng-hide="selectedSchool"
	               ng-enabled="schools">
	        <div ng-show="selectedSchool">
	          {{selectedSchool}}
	          <button ng-click="unselectSchool()" class="btn btn-danger">&times;</button>
	        </div>
              </th>
              <th>
	        <input type="text"
		       placeholder="Class"
                       class="input-small"
		       ng-model="selectedClass"
                       ng-hide="selectedClass"
		       typeahead="class.level for class in classes | filter:$viewValue"
		       ng-enabled="classes"/>
                <div ng-show="selectedClass">
                  {{selectedClass}}
                  <button ng-click="unselectClass()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
	        <input type="text"
		       placeholder="Term"
                       class="input-small"
		       ng-model="selectedTerm"
                       ng-hide="selectedTerm"
                       typeahead="term for term in terms | filter:$viewValue"
		       ng-enabled="selectedClass"/>
                <div ng-show="selectedTerm">
                  {{selectedTerm}}
                  <button ng-click="unselectTerm()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
	        <input type="text"
		       placeholder="Year"
                       class="input-small"
		       ng-model="selectedYear"
                       ng-hide="selectedYear"
                       typeahead="year for year in years | filter:$viewValue"
		       ng-enabled="selectedTerm"/>
                <div ng-show="selectedYear">
                  {{selectedYear}}
                  <button ng-click="unselectYear()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
                <button class="btn btn-success" ng-click="addNewRecord()">
                  Add Record
                </button>
              </th>
            </tr>
          </thead>
          <tbody ng-repeat="record in transcript" id="transcript">
            <tr>
              <td> {{record.state}} </td>
              <td> {{record.school}} </td>
              <td> {{record.class}} </td>
              <td> {{record.term}} </td>
              <td> {{record.year}} </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="upcoming-transcript">
        <h3>Enter your expected schedule for next term</h3>
        <!-- TODO allow same or different school -->
        <!-- TODO term -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>
                <input type="text"
                       class="input-medium"
	               placeholder="State"
	               ng-model="transcriptState"
	               typeahead="state.name for state in states | filter:$viewValue"
	               ng-hide="transcriptState"
	               ng-enabled="states">
                <div ng-show="transcriptState">
	          {{transcriptState}}
	          <button ng-click="unselectTranscriptState()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
                <input type="text"
                       class="input-medium"
	               placeholder="School"
	               ng-model="transcriptSchool"
	               typeahead="school.name for school in schools | filter:$viewValue"
	               ng-hide="transcriptSchool"
	               ng-enabled="schools">
                <div ng-show="transcriptSchool">
	          {{transcriptSchool}}
	          <button ng-click="unselectTranscriptSchool()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
	        <input type="text"
		       placeholder="Class"
                       class="input-small"
		       ng-model="transcriptClass"
                       ng-hide="transcriptClass"
		       typeahead="class.level for class in classes | filter:$viewValue"
		       ng-enabled="classes"/>
                <div ng-show="transcriptClass">
                  {{transcriptClass}}
                  <button ng-click="unselectTranscriptClass()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
	        <input type="text"
		       placeholder="Term"
                       class="input-small"
		       ng-model="transcriptTerm"
                       ng-hide="transcriptTerm"
                       typeahead="term for term in terms | filter:$viewValue"
		       ng-enabled="transcriptClass"/>
                <div ng-show="transcriptTerm">
                  {{transcriptTerm}}
                  <button ng-click="unselectTranscriptTerm()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
	        <input type="text"
		       placeholder="Year"
                       class="input-small"
		       ng-model="transcriptYear"
                       ng-hide="transcriptYear"
                       typeahead="year for year in years | filter:$viewValue"
		       ng-enabled="transcriptTerm"/>
                <div ng-show="transcriptYear">
                  {{transcriptYear}}
                  <button ng-click="unselectTranscriptYear()" class="btn btn-danger">&times;</button>
                </div>
              </th>
              <th>
                <button class="btn btn-success" ng-click="addNewTranscriptRecord()">Add New Class</button>
              </th>
            </tr>
          </thead>
          <tbody ng-repeat="record in schedule">
            <tr>
              <td> {{record.state}} </td>
              <td> {{record.school}} </td>
              <td> {{record.class}} </td>
              <td> {{record.term}} </td>
              <td> {{record.year}} </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
  </div>
</div>
